@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Raleway:ital,wght@0,100..900;1,100..900&family=Zeyada&display=swap');

:root {
    --primary-color: #143561;
    --background-color: #143561ba;
    --accent1-color: #145d8b;
    --accent2-color: #209fd9;

    --normal-font: "Raleway", sans-serif;
    --crazy-font: "Zeyada";

    --nav-link-color: #ffffff;
    --green-color: #2f826c;
    --green-background-color: #2f826ca2;
    --nav-background-color: #3834a1;
    --nav-hover-background-color: #0c3429;
}

/*--------------------------/header/----------------------------------*/

header {
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 60px;
    font-family: var(--normal-font);
}

header img {
    height: 80%;
    width: auto;
    border-radius: 50px;
}

header nav {
    margin: 30px;
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-around;
    border-radius: 5px;
}

header a {
    text-decoration: none;
    color: white;
}

/*---------------------------/body/---------------------------------*/

body {
    max-width: 960px;
    padding: 20px;
}

/*----------------------------/index/--------------------------------*/
/*----------------------------div principal/index/--------------------------------*/

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.principal h1 {
    position: absolute;
    font-family: var(--crazy-font);
    padding: 10px;
    color: var(--green-color);
    font-size: 3em;
    font-weight: 1000;
}

.principal h2 {
    position: absolute;
    transform: translate(-75px ,100px);
    background-color: var(--green-background-color);
    color: white;
    width: 150px;
    height: 50px;
    font-family: var(--normal-font);
    font-size: 1em;
    font-weight: 600;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
}

.principal img {
    display: block;
    width: 100%;
    height: auto;
}

/*----------------------------div secundary/index/--------------------------------*/

.secundary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    background-color: var(--background-color);
    font-family: var(--normal-font);
    text-align: center;
}

.secundary h3 {
    color: white;
    font-weight: 400;
    margin-top: 0px;
}

.secundary h2 {
    grid-row: 1;
    grid-column: span 3;
    color: white;
    font-weight: 400;
}

.secundary a {
    text-decoration: none;
    color: white;
}

.secundary div {
    align-items: center;
    grid-row: 2;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
}

.secundary .image {
    width: 200px;
    height: 120px;
    border: 5px solid;
    border-color: var(--primary-color);
    padding: 2px;
}

.secundary .icon {
    width: 40px;
    height: 40px;
}

/*----------------------------div info/index/--------------------------------*/

.info {
    display: flex;
    position: relative;
    font-family: var(--normal-font);
    
}

.info img {
    width: 100%;
    height: auto;
    display: block;
}

.info .subscribe {
    position: absolute;
    transform: translate(120px, 200px);
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    width: 400px;
    display: flex;
}

.info .live {
    position: absolute;
    transform: translate(490px, 240px);
    background-color: var(--green-background-color);
    width: 400px;
    text-align: center;
    padding-left: 50px;
}

.info .subscribe p {
    margin-right: 50px;
}

.info label,
.info h2,
.info p {
    color: white;
    font-weight: 400;
    margin: 5px;
}

.info input {
    width: 300px;
    margin: 5px;
}

.info div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.info button {
    width: 150px;
    height: 40px;
    margin: 10px;
    font-family: var(--normal-font);
    font-size: 18px;
    background-color: var(--green-background-color);
    color: white;
    border-radius: 10px;
    border: 0;
}

/*-----------------------------------/about/-----------------------------*/
/*-------------------------------div hero /about/-----------------------------*/

.hero {
    position: relative;
    font-family: var(--normal-font);
}

.hero h1 {
    color: var(--nav-link-color);
    background-color: var(--green-background-color);
    font-weight: 400;
    text-align: center;
    position: absolute;
    left: auto;
    top: 100px;
    width: 100%;
}

.hero article {
    background-color: var(--green-background-color);
    color: white;
    position: absolute;
    top: 320px;
    right: auto;
    width: 100%;
}

.hero article p {
    margin: 30px;
}

.hero article img {
    height: 120px;
    width: auto;
    float: right;
    margin: 20px;
    border-radius: 10px;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

/*--------------------------section history /about/----------------------------------*/

.history {
    text-align: center;
    background-color: var(--background-color);
    font-family: var(--normal-font);
    padding: 20px;
    color: white;
}

.history h2 {
    margin: 0;
    font-weight: 400;
}

.history div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.history img {
    border-radius: 10px;
    margin-top: 10px;
}

/*--------------------------section adventure /about/----------------------------------*/

.adventure {
    text-align: center;
    background-color: var(--green-background-color);
    font-family: var(--normal-font);
    color: white;
    padding: 20px;
}

.adventure h2 {
    margin: 0px;
    font-weight: 400;
    margin-bottom: 20px;
}

.adventure .figures {
    display: flex;
    flex-direction: row;
}

.adventure .figures figure {
    width: 20%;
    padding: 0px;
    margin: 0px;
}

.adventure .figures img {
    width: 80%;
    height: 80%;
    border: 5px solid var(--green-color);
}
/*-----------------------------------/trips/-----------------------------*/
/*-------------------------------div action /trips/-----------------------------*/

.action {
    width: 100%;
    font-family: var(--normal-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
}

.action h2 {
    margin: 20px;
    color: white;
    font-weight: 400;
    text-align: center;
}

.action a {
    text-decoration: none;
}

.action .btn {
    padding: 30px;
    background-color: var(--green-background-color);
    font-family: var(--normal-font);
    color: white;
    width: 180px;
    height: 30px;
    font-size: 2em;
    font-weight: 600;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    
}

.action button {
    background-color: white;
    color: var(--primary-color);
    font-family: var(--normal-font);
    font-size: 2rem;
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 30px;
}

/*-------------------------------div table /trips/-----------------------------*/

.trip-table {
    width: 100%;
    font-family: var(--normal-font);
}

.trip-table table {
    border-collapse: collapse;
    width: 100%;
    border-bottom: 10px solid var(--primary-color);
}

.trip-table th {
    width: 33%;
    margin: 0px;
    border-left: 10px solid var(--primary-color);
    border-right: 10px solid var(--primary-color);
    padding: 0px;
}

.trip-table thead th {
    height: 80px;
    background-color: var(--green-color);
    border-top: 10px solid var(--primary-color);
    border-bottom: 10px solid var(--primary-color);
    color: white;
    font-size: 2rem;
    font-weight: 400;
}

.trip-table thead .icon {
    width: 40px;
    height: auto;
}

.trip-table tbody th {
    height: 200px;
    position: relative;
    border-bottom: 5px solid var(--primary-color);
}

.trip-table tbody a {
    position: absolute;
    color: white;
    font-weight: 400;
    background-color: var(--green-background-color);
    width: 100%;
    transform: translate(-50% ,0px);
    text-decoration: none; 
}

.trip-table tbody p {
    position: absolute;
    color: white;
    font-weight: 400;
    background-color: var(--green-background-color);
    width: 100%;
    transform: translate(0px, 100px);
}

.trip-table tbody img {
    width: 100%;
    height: 100%;
    display: block;
}

/*-------------------------------/contact/--------------------------------------*/
/*-------------------------div contact /contact/--------------------------------------*/

.contact {
    background-color: var(--accent1-color);
    font-family: var(--normal-font);
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact div {
    margin: 20px;
    text-align: left;
}

.contact h1,
.contact h3,
.contact h4 {
    color: white;
    font-weight: 400;
}

/*---------------------------nav employ/contact/---------------------------------*/

.employee {
    background-color: var(--background-color);
    font-family: var(--normal-font);
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr;
    color: white;
    text-align: center;
}

.employee h2 {
    font-weight: 400;
    grid-column: span 3;
}

.employee p {
    font-weight: 400;
}

.employee div {
    grid-column: span 1;
    grid-row: 2;
}

.employee img {
    width: 270px;
    height: 180px;
    border-radius: 10px;
}

/*--------------------------form user-info/contact/----------------------------------*/

.user-info {
    background-color:var(--accent1-color);
    padding: 30px;
    display: flex;
    flex-direction: column;
    font-family: var(--normal-font);
    color: white;
}

.user-info h2 {
    font-weight: 400;
}

.user-info .name-email input {
    width: 300px;
    margin-right: 60px;
}

.user-info .check-purpose {
    margin-bottom: 30px;
    margin-top: 30px;
}

.user-info .check-purpose input {
    position: absolute;
    left: 240px;
}

.user-info .newsletter {
    margin-bottom: 30px;
}

.user-info textarea {
    width: 800px;
    height: 100px;
}

.user-info button {
    background-color: var(--background-color);
    color: var(--nav-link-color);
    width: 200px;
    height: 50px;
    font-family: var(--normal-font);
    border: 0px;
    border-radius: 10px;
}

/*--------------------------/footer/----------------------------------*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: var(--normal-font);
    padding-left: 40px;
    padding-right: 40px;
}

footer p,
footer a {
    color: white;;
    text-decoration: none;
}

footer nav {
    padding: 20px;
    width: 150px;
    display: flex;
    justify-content: space-around;
}

footer img {
    width: 40px;
    height: auto;
    color: white;
}