@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+US+Trad:wght@100..400&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #0D1F22;
    --secondary-color: #264027;
    --accent1-color: #3C5233;
    --accent2-color: #6F732F;

    --heading-font: 'Oswald', serfi;
    --paragraph-font: 'Playwrite US Trad', serfi;

    --nav-background-color: #83d7c1;
    --nav-link-color: #14b78b;
    --nav-hover-link-color: #2f826c;
    --nav-hover-background-color: #0c3429;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-hover-link-color);
}

nav a:hover {
    color: var(--nav-link-color);
    background-color: var(--nav-hover-background-color);
}